@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
html,
body,
* {
  margin: 0;
  font-size: 10px;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to bottom right,
    rgb(57, 192, 255),
    rgb(0, 255, 64)
  );
}
h1 {
  font-family: "Pacifico", cursive;
  background: linear-gradient(to bottom, #d6cc12, #fca43f, #e8382b);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 0.5vh;
}

.form {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.formResponse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 400%;
  padding: 1rem;
  width: 80%;
}
.name,
.imgLink {
  width: 350px;
  height: 5vh;
  padding: 2px;
  font-size: 70%;
  border: 2% solid #525252;
  border-radius: 3%;
  box-sizing: border-box;
}
.subBtn {
  height: 5.5rem;
  width: 10rem;
  font-size: 3rem;
  background: radial-gradient(circle, #f7fa56, #da290a);
  font-family: "Pacifico", cursive;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, #605dff, #45098a);
  border: 1vw solid rgb(0, 0, 0);
  border-radius: 5%;
  min-width: 400px;
  width: 30%;
  height: 45vh;
  padding: 1vw;
  margin-top: 2%;
  box-sizing: border-box;
  text-align: center;
  box-shadow: -10px 10px 20px rgb(0, 0, 0);
}

.card-heading {
  font-size: 2vw;
  color: white;
  object-fit: cover;
  margin-bottom: 5%;
}

.card-removeBtn {
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 15rem;
  font-size: 1.25vw;
  background: radial-gradient(circle, #f7fa56, #da290a);
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 900px) {
  h1 {
    font-size: 8vw;
  }
  .container {
    justify-content: center;
  }
  .card {
    height: 60vh;
    width: 90%;
    min-width: 100px;
  }
  .card-heading {
    margin-top: 2%;
    font-size: 6vw;
  }
  .name,
  .imgLink {
    width: 250px;
  }
  .card-removeBtn {
    font-size: 4vw;
  }
}
